@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color : #7380EC;
    --white-color : #FFF;
    --primary-color-variant : #111E88;
    --dark-color : #363949;
    --background-color: #f6f6f9;
    --light-color: rgba(132, 139, 200, 0.18);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

.container {
    position: relative;
}

.sidebar {
    background-color: var(--white-color);
    height: 100vh;
    width: 290px;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.7s ease;
    border-radius: 15px;
    box-shadow:
    7.2px 11.2px 14.8px -20px rgba(0, 0, 0, 0.026),
    24.1px 37.7px 63.2px -20px rgba(0, 0, 0, 0.037),
    108px 169px 185px -20px rgba(0, 0, 0, 0.11)
;
}

/* Class added with JQuery */
.sidebar.active {
    left: 0;
}

.s-menu {
    width: 100%;
    margin-top: 70px;
    height: 100vh;
    transition-property: left;
}

.s-menu__item {
    position: relative;
    cursor: pointer;
}

.s-menu__item a {
    color: var(--dark-color);
    font-size: 15px;
    text-decoration: none;
    display: block;
    line-height: 60px;
    transition: .3s ease;
    padding: 3px 20px;
    font-size: .9em;
}

.logout{
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.s-menu__item a:hover {
    color: var(--primary-color);
    background-color: var(--light-color);
    letter-spacing: .8px;
    border-left: 5px solid var(--primary-color);
}

.s-menu__item a i {
    margin-right: 10px;
}

.s-menu__item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: .3s ease;
}

.s-submenu__item {
    background-color: var(--light-color);
    padding-left: 50px !important;
}

.s-submenu {
    display: none;
}

/* Class added with JQuery */
.rotate {
    transform: rotate(90deg);
}

/* === CLOSE BUTTON ===*/
.sidebar__close-btn {
    position:  absolute;
    color: var(--dark-color);
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
    transition: .5s ease;
    
}

.sidebar__close-btn:hover {
    color: var(--primary-color);
    transform: scale(1.5)
}
/* === CLOSE BUTTON ===*/

/* === MENU BUTTON ===*/
.sidebar__menu-btn {
    position: absolute;
    color: var(--dark-color);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    transition: .5s ease;
}

.sidebar__menu-btn:hover {
    color: var(--primary-color);
    transform: scale(1.5)
}
/* === MENU BUTTON ===*/

.main {
    left: 0;
}

.main.active {

    left: 300px;
} 
